{% extends 'base.html' %}
{% block title %}Page non trouvée{% endblock %}
{% block content %}
<div class="text-center mt-5">
    <h1 class="display-1">404</h1>
    <h2>Oups ! Page non trouvée</h2>
    <p class="lead">Désolé, la page que vous cherchez n'existe pas ou a été déplacée.</p>
    <p>Vous pouvez retourner à l'accueil ou essayer une autre page.</p>
    <a href="{% url 'accueil' %}" class="btn btn-primary mt-3">Retour à l'accueil</a>
</div>
{% endblock %}

<!--


8888888b.          888                                                                                                                888           
888   Y88b         888                                                                                                                888           
888    888         888                                                                                                                888           
888   d88P .d88b.  888888  8888b.   8888b.   8888b.   8888b.   8888b.   8888b.   8888b.   8888b.   8888b.   8888b.   8888b.   8888b.  888888 .d88b. 
8888888P" d88""88b 888        "88b     "88b     "88b     "88b     "88b     "88b     "88b     "88b     "88b     "88b     "88b     "88b 888   d88""88b
888       888  888 888    .d888888 .d888888 .d888888 .d888888 .d888888 .d888888 .d888888 .d888888 .d888888 .d888888 .d888888 .d888888 888   888  888
888       Y88..88P Y88b.  888  888 888  888 888  888 888  888 888  888 888  888 888  888 888  888 888  888 888  888 888  888 888  888 Y88b. Y88..88P
888        "Y88P"   "Y888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888 "Y888888  "Y888 "Y88P" 

                                                        https://github.com/Potaaaaaaaaaaaato
                                                     https://www.linkedin.com/in/tristan-devaux/


-->