{% extends 'base.html' %}
{% block title %}Offres d'emplois{% endblock %}
{% block content %}
<div class="text-center mb-12">
    <h1 class="text-4xl font-bold text-primary-500">Offres d'emplois</h1>
    <!-- Boutons pour Candidature spontanée et Demande de stage -->
    <div class="mt-10 flex justify-center gap-4">
        <div class="flex flex-row gap-4">
            <a href="{% url 'contact' %}?subject=Candidature%20spontanée" 
               class="inline-block bg-secondary-500 text-white px-6 py-3 rounded-lg hover:bg-orange-600 hover:scale-105 transition-all button-equal-size">
                Candidature spontanée
            </a>
            <a href="{% url 'contact' %}?subject=Demande%20de%20stage" 
               class="inline-block bg-secondary-500 text-white px-6 py-3 rounded-lg hover:bg-orange-600 hover:scale-105 transition-all button-equal-size">
                Demande de stage
            </a>
        </div>
    </div>
</div>
<div class="container mx-auto px-6">
    <p class="text-neutral-600 mb-8 text-center">Rejoignez notre équipe ! Découvrez nos offres d’emploi et postulez directement en envoyant votre candidature par email.</p>

    {% if job_offers %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {% for job in job_offers %}
                <div class="bg-white shadow-lg rounded-lg p-6 transform hover:scale-105 transition-transform">
                    <h2 class="text-2xl font-semibold text-primary-500 mb-2">{{ job.title }}</h2>
                    <div class="text-neutral-600 mb-4">{{ job.description|linebreaks }}</div>
                    <p class="text-sm text-gray-500 mb-2">Publié le : {{ job.posted_date }}</p>
                    {% if job.document %}
                        <p class="text-sm text-gray-500 mb-2 flex items-center">
                            <i class="bi bi-file-earmark mr-2"></i>
                            Détails de l’offre : 
                            <a href="{{ job.document.url }}" class="text-primary-500 hover:underline" target="_blank">{{ job.document.name|cut:"job_documents/" }}</a>
                        </p>
                    {% endif %}
                    <div class="text-center mt-4">
                        <a href="mailto:{{ job.email_contact }}?subject=Candidature pour {{ job.title }}" 
                           class="inline-block bg-primary-500 text-white px-6 py-3 rounded-lg hover:bg-primary-600 hover:scale-105 transition-all">
                            Postuler à cette offre
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-neutral-600 mb-4 text-center">Aucune offre d’emploi disponible pour le moment. Revenez bientôt !</p>
    {% endif %}
</div>
{% endblock %}